<div class="homepage" style="background-color: black;">
  <div class="banner" style="background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0.2) 100%),url('https://res.cloudinary.com/ddw4b3fnq/image/upload/v1582119961/bar_bxoxlk.jpg'); background-size: cover; background-position: center; min-height: 50vh;">
    <div class="menu row justify-content-between px-5 py-4">
      <div class="column">
        <%= link_to "Checkbar", bars_path , style: "font-size:32px; text-decoration: none; color: white;", data: {turbolinks: 'false'}%>
      </div>
      <div class="column">
        <%= link_to "Create a bar", new_bar_path, class: "btn btn-outline-light" %>
        <%  if !user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light" %>
        <% else %>
          <%= link_to 'My dashboard', profile_path, class: "btn btn-outline-light" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
        <% end %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large"%>
      </div>
    </div>

    <div class="container justify-content-center text-center text-light py-3">
      <h1 style="font-size: 80px">Bars</h1>
      <h3>Find the best place to celebrate your event</h3>

        <%= form_tag bars_path, method: :get, class: "d-flex justify-content-center mt-4" do %>
          <div class="col-7 p-0">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter a bar name / category / address"
          %>
          </div>
          <div class="col-1 p-0 m-0">
          <%= submit_tag "Search", class: "input-group-prepend btn btn-outline-light" %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="card-container container pb-4" style="background-color: transparent;">
    <div class="cards">
      <% @bars.first(3).each do |bar| %>
        <div class="card-category" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.1474964985994398) 0%, rgba(0,0,0,0.1474964985994398) 100%), url(<%= bar.photo || url_for(bar.photos.first) %>)">
          <h3 class="m-0" id="tag"><%= bar.category %></h3>
          <%= link_to "See More", bar_path(bar), class: "btn btn-outline-light", data: { turbolinks: false} %>
          <h2 class="m-0" id="name"><%= bar.name %></h2>
          <% if bar.address.size >= 30 %>
            <p class="m-0" id="address"><%= bar.address.first(30) %>...</p>
          <% else %>
            <p class="m-0" id="address"><%= bar.address %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="map"
     style="width: 100%;
     height: 300px; border-radius: 10px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="cards">
      <% if @bars.size > 3 %>
        <% @bars.last(@bars.size - 3).each do |bar| %>
          <div class="card-category" style="background-image:linear-gradient(0deg, rgba(0,0,0,0.1474964985994398) 0%, rgba(0,0,0,0.1474964985994398) 100%), url(<%= bar.photo || url_for(bar.photos.first) %>)">
            <h3 class="m-0" id="tag"><%= bar.category %></h3>
            <%= link_to "See More", bar_path(bar), class: "btn btn-outline-light", data: { turbolinks: false} %>
            <h2 class="m-0" id="name"><%= bar.name %></h2>
            <p class="m-0" id="address"><%= bar.address %></p>
          </div>
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
      <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The place to drink <i class="fas fa-glass-cheers"></i>
  </div>
</div>
</div>
