<h1>Bars</h1>
  <ul>
    <% @bars.each do |bar| %>
      <li> <%= bar.name %></li>
      <li><%= bar.address %></li>
      <li><%= bar.description %></li>
    <% end %>
  </ul>

  <%= link_to "Create a bar", new_bar_path %>
  <%= link_to "Login", new_user_registration_path %>
