<div id="parent">
  <div class="banner-show " style="background-image: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,0.6264880952380952) 30%,rgba(0,0,0,1) 90%), url(<%= @bar.photo || url_for(@bar.photos.first) %>);">
    <div class="menu row justify-content-between px-5 py-4">
        <div class="column">
          <%= link_to "Checkbar", bars_path , style: "font-size:32px; text-decoration: none; color: white;", data: {turbolinks: 'false'}%>
        </div>
        <div class="column">
          <%= link_to "Create a bar", new_bar_path, class: "btn btn-outline-light" %>
          <%  if !user_signed_in? %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light" %>
          <% else %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
          <% end %>
        </div>
    </div>

    <div class="container" >
      <h1> <%= @bar.name %></h1>
      <p class="tag"> <%= @bar.category %></p>
      <p><i class="fas fa-map-marker-alt"></i> <%= @bar.address %></p>
      <p><i class="fas fa-users"></i><%= @bar.capacity %></p>
      <p style="width: 70%;"> Description :  <%= @bar.description %></p>
        <div class="carousel w-100 col-6" style="height:200px;">
          <% if @bar.photos.attached? %>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                   <%= cl_image_tag @bar.photos[0].key, alt: "First slide", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                   <%= cl_image_tag @bar.photos[1].key, alt: "Second slide", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                   <%= cl_image_tag @bar.photos[2].key, alt: "Third slide", class: "d-block w-100" %>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <% else %>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" id="carousel-inner-no-photo">
                    <div class="carousel-item active">
                      <%#= image_tag "photo-1574521091464-a55e7763c1e5.jpeg", alt: "First slide", class: "d-block w-100" %>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
       <% if policy(@bar).edit? %>
      <%= link_to edit_bar_path(@bar.id), class: 'pull-right btn btn-outline-light' do %>
      <i class="fa fa-pencil"></i> Edit this bar
       <% end %>
       <% end %>
    </div>
</div>

  <div id="child-container">
    <div class="container-fluid " id="show-photo">

      <div id="map" class=" container pt-5"
         style="width: 60%;
         height: 400px;
         margin-left: 10%;"
         data-markers="<%= @marker.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="row" style="height: 500px; background-color: black;">
      <div class="d-flex card col-4 offset-4 p-4 mt-3" id="child-form" style="border-radius: 5px; background-color: rgba(255,255,255,0.4);">
        <h4> Ouvert : <%= @bar.opening_days.join(" - ").capitalize %></h4>
          <p>De <%= @bar.opening_hours.hour %>:<%= @bar.opening_hours.min %> à <%= @bar.closing_hours.hour %>:<%= @bar.closing_hours.min %> </p>
          <%= simple_form_for [@bar, @reservation] do |f| %>
          <input name="date" id="flatpickr" class="col-10 offsert-10">
          <%= f.input :hours %>
          <%= f.input :number_of_guest %>
          <%= f.button :submit, class: 'btn btn-outline-light'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
