<h1>Show</h1>

<%= @bar.name %>
<%= @bar.category %>
<%= @bar.opening_days %>
<%= @bar.opening_hours %>
<%= @bar.closing_hours %>

<% @bar.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= simple_form_for [@bar, @reservation] do |f| %>
  <%= f.input :date %>
  <%= f.input :hours %>
  <%= f.input :number_of_guest %>
  <%= f.button :submit, class: 'btn btn-warning'%>
<% end %>

