<h1>Show</h1>
<%= @bar.name %>

<%= simple_form_for [@bar, @reservation] do |f| %>
  <%= f.input :date %>
  <%= f.input :hours %>
  <%= f.input :number_of_guest %>
  <%= f.button :submit, class: 'btn btn-warning'%>
<% end %>
